node_modules/
out/


# scala related
logs
webview-ui/package-lock.json
webview-ui/project/**
webview-ui/target/**
webview-ui/target/build/**
project/target
target
tmp
.bsp/
.history
.metals
dist
.idea
*.iml
/out
.idea_modules
.classpath
.project
.bloop
.metals/
.scala_build/
/RUNNING_PID
.settingsz
.DS_Store
null
webview-ui/project/
